services:
  frontend:
    build:
      context: ./frontend
      # dockerfile: Dockerfile
    command: npm run dev
    ports:
      - "8001:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file:
      - .env
    networks:
      - common

    depends_on:
      - backend
      - redis

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - common

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: ["redis-server", "--appendonly", "yes"]
    networks:
      - common

volumes:
  redis-data:

networks:
  common:
    driver: bridge